@import './font.scss';

@mixin numbers(){
  font-family: 'Orbitron', sans-serif;
}
@mixin title(){
  font-family: 'Cinzel', serif;
  text-transform: capitalize;
}
@mixin type(){
  font-family: 'Lato', sans-serif;
  text-transform: capitalize;
}
@mixin text(){
  font-family: 'Noto Serif', serif;
}

@mixin trash(){
  font-weight: bold;
  font-family: 'Arial', san-serif;
  font-size: 26px;
  transform: scale(0.8, 1);
  color: #988b7f;
}

html, body{
  margin: 0;
  padding: 0;
  min-height: 100%;
}

body{
  background: white;
}

footer{
  padding-top: 20px;
  margin-top: 40px;
  border-top: 1px solid lightgrey;
  font-size: 12px;
  padding-bottom: 40px;
  position: relative;
}


.card {
  width: 312px;
  position: relative;
  margin-bottom: 10px;
  img {
    cursor: move;
    background: black;
  }
  > div{
    position: absolute;
  }

  .price, .strength{
    @include numbers();
    width: 27px;
    &.shadow{
      visibility: hidden;
    }
  }
  .name {
    @include title();
  }
  .type{
    @include type();
  }
  .main-content{
    width: 248px;
    @include text();
    font-size: 13px;
    .fluff {
      font-style: italic;
      font-size: 10px;
    }
  }
  .mu{
    display: none;
  }
  .influence{
    background: url('/img/influence-pip.png');
    width: 85px;
    height: 16px;
    background-repeat: repeat;
    background-size: 17px;
    &.i0{ width: 0;}
    &.i1{ width: 18px;}
    &.i2{ width: 32px;}
    &.i3{ width: 51px;}
    &.i4{ width: 68px;}
    &.i5{ width: 85px;}
  }

  &.back {
    .name, .price, .strength, .type, .influence, .mu,.main-content{
      display: none;
    }
  }

  &.agenda{
    .price, .strength {
      text-shadow: 3px 3px black;
      font-size: 31px;
      font-weight: bold;
      color: white;
      z-index: 3;
      &.shadow{
        visibility: visible;
        text-shadow: none;
        color: black;
        z-index: 1;
        &.top{
          margin-top: -1px;
        }
        &.left{
          margin-left: -1px;
        }
        &.right{
          margin-left: 1px;
        }
        &.bottom{
          margin-top: 1px;
        }
      }
    }
    .name{
      top: 24px;
      left: 22px;
    }
    .price{
      top: 14px;
      left: 270px;
      text-align: center;
    }
    .strength{
      top: 220px;
      left: 25px;
      text-align: center;
    }
    .type{
      top: 281px;
      left: 95px;
      font-weight: normal;
      font-size: 13px;
      text-align: left;
    }
    .main-content{
      top: 306px;
      left: 33px;
      font-weight: normal;
      text-align: left;
    }
    .influence{
      display: none;
      bottom: 14px;
      left: 44px;

    }
    &.neutral{
      .influence{
        display: block;
      }
    }
  }

  &.operation{
    .name{
      top: 14px;
      left: 79px;
    }
    .price{
      top: 30px;
      left: 25px;
      font-size: 20px;
      text-align: center;
      color: white;
    }
    .strength{
      display: none;
    }
    .type{
      top: 261px;
      left: 114px;
      font-weight: normal;
      font-size: 13px;
      text-align: left;
    }
    .main-content{
      top: 293px;
      left: 33px;
      font-weight: normal;
      text-align: left;
    }
    .influence{
      bottom: 14px;
      left: 45px;
    }
  }

  &.upgrade{
    .name{
      top: 229px;
      left: 31px;
      font-weight: normal;
    }
    .price{
      top: 35px;
      left: 25px;
      font-size: 20px;
      text-align: center;
      color: white;
    }
    .strength{
      top: 368px;
      left: 270px;
      text-align: center;
      @include trash();
    }
    .type{
      top: 257px;
      left: 107px;
      font-weight: normal;
      font-size: 13px;
      text-align: left;
    }
    .main-content{
      top: 283px;
      left: 41px;
      font-weight: normal;
      text-align: left;
    }
    .influence{
      bottom: 12px;
      left: 44px;
    }
  }

  &.asset{
    .name{
      top: 222px;
      left: 35px;
      font-weight: normal;
    }
    .price{
      top: 29px;
      left: 24px;
      font-size: 20px;
      text-align: center;
      color: white;
    }
    .strength{
      top: 364px;
      left: 267px;
      text-align: center;
      @include trash();
    }
    .type{
      top: 253px;
      left: 85px;
      font-weight: normal;
      font-size: 13px;
      text-align: left;
    }
    .main-content{
      top: 280px;
      left: 33px;
      font-weight: normal;
      text-align: left;
    }
    .influence{
      bottom: 16px;
      left: 44px;
    }
  }

  &.ice{
    .name{
      top: 20px;
      left: 70px;
    }
    .price{
      top: 30px;
      left: 22px;
      font-size: 20px;
      text-align: center;
      color: white;
    }
    .strength{
      transform: rotate(-90deg);
      text-align: right;
      top: 396px;
      left: 14px;
      font-weight: bold;
      font-size: 24px;
    }
    .type{
      text-align: right;
      font-weight: normal;
      font-size: 13px;
      top: 81px;
      left: 19px;
      transform-origin: top right;
      transform: translate(-100%,0) rotate(-90deg);
      background-image: url('/img/ice.png');
      background-position: 0 -10px;
      background-repeat: no-repeat;
      padding-left: 46px;
    }
    .main-content{
      top: 65px;
      left: 64px;
      font-weight: normal;
      text-align: left;
      width: 208px;
    }
    .influence{
      transform-origin: bottom left;
      transform: rotate(-90deg);
      bottom: 52px;
      left: 304px;
    }
  }

  &.event{
    .name{
      top: 16px;
      left: 69px;
      font-weight: normal;
    }
    .price{
      top: 33px;
      left: 22px;
      font-size: 20px;
      text-align: center;
      color: white;
    }
    .strength{
      display: none;
    }
    .type{
      top: 275px;
      left: 85px;
      font-weight: normal;
      font-size: 13px;
      text-align: left;
    }
    .main-content{
      top: 304px;
      left: 33px;
      font-weight: normal;
      text-align: left;
    }
    .influence{
      transform-origin: bottom left;
      transform: rotate(-90deg);
      bottom: 49px;
      left: 306px;
    }
  }

  &.hardware{
    .name{
      top: 225px;
      left: 62px;
      font-weight: normal;
    }
    .price{
      top: 35px;
      left: 25px;
      font-size: 20px;
      text-align: center;
      color: white;
    }
    .strength{
      display: none;
    }
    .type{
      top: 261px;
      left: 124px;
      font-weight: normal;
      font-size: 13px;
      text-align: left;
    }
    .main-content{
      top: 291px;
      left: 45px;
      font-weight: normal;
      text-align: left;
    }
    .influence{
      transform-origin: bottom left;
      transform: rotate(-90deg);
      bottom: 47px;
      left: 309px;
    }
  }

  &.program{
    .name{
      top: 206px;
      left: 18px;
      font-weight: normal;
    }
    .price{
      top: 34px;
      left: 23px;
      font-size: 20px;
      text-align: center;
      color: white;
    }
    .strength{
      top: 403px;
      left: 20px;
      font-weight: bold;
      font-size: 24px;
    }
    .type{
      top: 236px;
      left: 100px;
      font-weight: normal;
      font-size: 13px;
      text-align: left;
    }
    .main-content{
      top: 266px;
      left: 32px;
      font-weight: normal;
      text-align: left;
    }
    .influence{
      transform-origin: bottom left;
      transform: rotate(-90deg);
      bottom: 47px;
      left: 305px;
    }
    .mu{
      top: 22px;
      left: 79px;
      display: block;
      font-size: 12px;
      color: white;
      z-index: 2;
      text-align: center;
      width: 13px;
      &.shadow{
        visibility: visible;
        text-shadow: none;
        color: black;
        z-index: 1;
        &.top{
          margin-top: -1px;
        }
        &.left{
          margin-left: -1px;
        }
        &.right{
          margin-left: 1px;
        }
        &.bottom{
          margin-top: 1px;
        }
      }
    }
    &.shaper{
      .mu{
        top: 20px;

      }
    }
    &.anarch{
      .mu{
        top: 20px;
        left: 78px;
      }
    }
  }

  &.resource{
    .name{
      top: 15px;
      left: 72px;
      font-weight: normal;
    }
    .price{
      top: 32px;
      left: 23px;
      font-size: 20px;
      text-align: center;
      color: white;
    }
    .strength{
      display: none;
    }
    .type{
      top: 215px;
      left: 98px;
      font-weight: normal;
      font-size: 13px;
      text-align: left;
    }
    .main-content{
      top: 248px;
      left: 20px;
      font-weight: normal;
      text-align: left;
    }
    .influence{
      transform-origin: bottom left;
      transform: rotate(-90deg);
      bottom: 49px;
      left: 306px;
    }
  }

}
pre{
  padding: 0;
  margin: 0;
  font-size: inherit;
  font-family: inherit;
  background: none;
  border: none;
  white-space: pre-wrap;
  word-break: normal;
  word-wrap: normal;
}