@mixin numbers(){
  font-family: 'Orbitron', sans-serif;
}
@mixin title(){
  font-family: 'Cinzel', serif;
  text-transform: capitalize;
}
@mixin type(){
  font-family: 'Lato', sans-serif;
  text-transform: capitalize;
}
@mixin text(){
  font-family: 'Noto Serif', serif;
  text-transform: capitalize;
}

@mixin trash(){
  font-weight: bold;
  font-family: 'Arial', san-serif;
  font-size: 26px;
  transform: scale(0.8, 1);
  color: #988b7f;
}

html, body{
  margin: 0;
  padding: 0;
}

body{
  background: white;
}


.card {
  position: relative;
  > div{
    position: absolute;
  }

  .price, .strength{
    @include numbers();
  }
  .name {
    @include title();
  }
  .type{
    @include type();
  }
  .main-content{
    @include text();
    .fluff {
      font-style: italic;
      font-size: 12px;
    }
  }

  &.agenda{
    .price, .strength {
      text-shadow: 0 1px black,1px 1px black,-1px 1px black,0 -1px black, 1px -1px black,-1px -1px black, 3px 3px black;
      font-size: 31px;
      font-weight: bold;
      color: white;
    }
    .name{
      top: 24px;
      left: 22px;
    }
    .price{
      top: 14px;
      left: 270px;
      text-align: center;
    }
    .strength{
      top: 220px;
      left: 25px;
      text-align: center;
    }
    .type{
      top: 279px;
      left: 95px;
      font-weight: normal;
      font-size: 16px;
      text-align: left;
    }
    .main-content{
      top: 306px;
      left: 33px;
      font-weight: normal;
      font-size: 14px;
      text-align: left;
    }
  }

  &.operation{
    .name{
      top: 14px;
      left: 79px;
    }
    .price{
      top: 30px;
      left: 30px;
      font-size: 20px;
      text-align: center;
      color: white;
    }
    .strength{
      display: none;
    }
    .type{
      top: 259px;
      left: 114px;
      font-weight: normal;
      font-size: 16px;
      text-align: left;
    }
    .main-content{
      top: 293px;
      left: 33px;
      font-weight: normal;
      font-size: 14px;
      text-align: left;
    }
  }

  &.upgrade{
    .name{
      top: 229px;
      left: 31px;
      font-weight: normal;
    }
    .price{
      top: 35px;
      left: 30px;
      font-size: 20px;
      text-align: center;
      color: white;
    }
    .strength{
      top: 368px;
      left: 276px;
      text-align: center;
      @include trash();
    }
    .type{
      top: 254px;
      left: 107px;
      font-weight: normal;
      font-size: 16px;
      text-align: left;
    }
    .main-content{
      top: 283px;
      left: 41px;
      font-weight: normal;
      font-size: 14px;
      text-align: left;
    }
  }


  &.asset{
    .name{
      top: 222px;
      left: 35px;
      font-weight: normal;
    }
    .price{
      top: 29px;
      left: 30px;
      font-size: 20px;
      text-align: center;
      color: white;
    }
    .strength{
      top: 364px;
      left: 271px;
      text-align: center;
      @include trash();
    }
    .type{
      top: 250px;
      left: 89px;
      font-weight: normal;
      font-size: 16px;
      text-align: left;
    }
    .main-content{
      top: 280px;
      left: 33px;
      font-weight: normal;
      font-size: 14px;
      text-align: left;
    }
  }

  &.ice{
    .name{
      top: 20px;
      left: 70px;
    }
    .price{
      top: 30px;
      left: 29px;
      font-size: 20px;
      text-align: center;
      color: white;
    }
    .strength{
      transform: rotate(-90deg);
      text-align: right;
      top: 396px;
      left: 14px;
      font-weight: bold;
      font-size: 24px;
    }
    .type{
      text-align: right;
      font-weight: normal;
      font-size: 16px;
      top: 81px;
      left: 16px;
      transform-origin: top right;
      transform: translate(-100%,0) rotate(-90deg);
      &:before{
        content: '';
        background-image: url('/img/ice.png');
        width: 43px;
        height: 46px;
        position: absolute;
        transform: rotate(90deg);
        left: -44px;
        top: -9px;
      }
    }
    .main-content{
      top: 65px;
      left: 64px;
      font-weight: normal;
      font-size: 14px;
      text-align: left;
    }
  }

}